layout {

    focus-ring {
        active-color   "#e46e67"
        inactive-color "#291514"
        urgent-color   "#842621"
    }

    border {
        active-color   "#e46e67"
        inactive-color "#291514"
        urgent-color   "#842621"
    }

    shadow {
        color "#29151470"
    }

    tab-indicator {
        active-color   "#e46e67"
        inactive-color "#8d130c"
        urgent-color   "#842621"
    }

    insert-hint {
        color "#e46e6780"
    }
}

recent-windows {
    highlight {
        active-color "#e46e67"
        urgent-color "#842621"
    }
}
